@font-face {
    font-family: 'Avenir Book';
    src: url('../Asset/Font/avenir-book-webfont.eot');
    src: url('../Asset/Font/avenir-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/Font/avenir-book-webfont.woff2') format('woff2'),
         url('../Asset/Font/avenir-book-webfont.woff') format('woff'),
         url('../Asset/Font/avenir-book-webfont.ttf') format('truetype'),
         url('../Asset/Font/avenir-book-webfont.svg#avenirbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('../Asset/Font/avenir-medium-webfont.eot');
    src: url('../Asset/Font/avenir-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/Font/avenir-medium-webfont.woff2') format('woff2'),
         url('../Asset/Font/avenir-medium-webfont.woff') format('woff'),
         url('../Asset/Font/avenir-medium-webfont.ttf') format('truetype'),
         url('../Asset/Font/avenir-medium-webfont.svg#avenirmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Black';
    src: url('../Asset/Font/avenir-black-webfont.eot');
    src: url('../Asset/Font/avenir-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/Font/avenir-black-webfont.woff2') format('woff2'),
         url('../Asset/Font/avenir-black-webfont.woff') format('woff'),
         url('../Asset/Font/avenir-black-webfont.ttf') format('truetype'),
         url('../Asset/Font/avenir-black-webfont.svg#avenirregular') format('svg');
    font-weight: normal;
    font-style: normal;
}