@import "_variables.scss";

body {

	ul, ol, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	font-size: 16px;
	line-height: 22px;

	> header,
	> main,
	> section,
	> footer {
		overflow: auto;

		> section, > nav {
			width: 90%;
			max-width: 60rem;
			margin: 0 auto;
			overflow: auto;
			padding: 1rem 0 2rem 0;
			@media only screen and (min-width: $break-medium) {
				padding: 2rem 0 4rem 0;
			}

		}
	}

	h1 {
		font-size: 1.2rem;
	}

	h2 {
		font-size: 1rem;
	}

	input {
		outline: 0;
		border: none;
	}

	img {
		max-width: 100%;
	}

	.btn, input[type='submit'] {
		color: white;
		text-decoration: none;
		border-radius: 0.2rem;
		display: inline-block;
		margin-bottom: 0.4rem;
		background-color: red;
		padding: 0.6rem 1.4rem;
		@media only screen and (min-width: $break-medium) {
			font-size: 1.4rem;
			padding: 1rem 1.6rem;
		}
		&:hover {
			text-decoration: none;
			background-color: lighten(red, 2%);
		}
		&:active {
			background-color: darken(red, 4%);
		}
	}

	[role="cta"] {
		width: 100%;
		display: block;
		margin: 1rem 0;
		padding: 1rem 0;
		overflow: auto;
	}

	header[role="main"] {
		background: grey;
		section {
			aside[role="contact"] {
				display: none;
				@media only screen and (min-width: $break-medium) {
					display: block;
					width: 33.33333333333333%;
					float: right;
					ul {
						li {
							height: 2rem;
							line-height: 2rem;
						}
					}
				}
			}
		}
		
		nav {
			padding: 0;
			input {
				display: none;
			}
			label {
				cursor: pointer;
				&::before {
					content: 'Menu';
				}
				@media only screen and (min-width: $break-medium) {
					display: none;
				}
			}
			ul {
				display: none;
				@media only screen and (min-width: $break-medium) {
					display: block;
					li {
						display: inline-block;
					}
				}
			}
			input#main-nav:checked ~ ul {
				display: block;
			}
			input#main-nav:checked ~ label {
				&::before {
					content: 'Close';
				}
			}
		}

	}

	main[role="content"] {
		background: blue;
		section {
			> header {
				h1 {
					font-size: 2rem;
				}
				span {
					font-size: 1.6rem;
					line-height: 2rem;
					max-width: 46rem;
					display: block;
					&#intro {
						@media only screen and (min-width: $break-medium) {
							padding: 1rem 0 3rem 0;
						}
					}
				}
			}
			> section {
				width: 100%;
				float: left;

				article[role="for-lighting"],
				article[role="for-electrical"] {
					@media only screen and (min-width: $break-medium) {
						width: 48%;
						background: white;
						padding: 2rem;
						box-sizing: border-box;
					}
				}
				article[role="for-lighting"] {
					@media only screen and (min-width: $break-medium) {
						float: left;
						margin-right: 2%;
					}
				}
				article[role="for-electrical"] {
					@media only screen and (min-width: $break-medium) {
						float: right;
						margin-left: 2%;
					}
				}
			}
			section[role="process"] {
				padding: 1rem 0;
				background: white;
				@media only screen and (min-width: $break-medium) {
					width: 80%;
				}
				ol {
					padding-left: 2rem;
					li {
						list-style: initial;
						list-style-type: decimal;
						@media only screen and (min-width: $break-medium) {
							margin: 0 0 2rem 0;
						}
						p {
							width: 90%;	
							@media only screen and (min-width: $break-medium) {
								width: 75%;
							}
						}
					}
				}
			}
			section[role="contact-us"] {
				@media only screen and (min-width: $break-medium) {
					width: 66.66666666666666%;
				}
				form {
					background: white;
					@media only screen and (min-width: $break-medium) {
						padding: 2rem;
						width: 80%;
					}
					label, 
					input:not([type="submit"]) {
						width: 100%;
					}
					textarea {
						width: 80%;
					}
					input:not([type="submit"]) {
						margin-bottom: 1rem;
					}
				}
			}
			aside[role="contact-details"] {
				@media only screen and (min-width: $break-medium) {
					width: 33.33333333333333%;
					float: right;
				}
				address {
					font-style: normal;
				}
			}
		}
	}
	
	section[role="accreditation"] {
		background: pink;
		@media only screen and (min-width: $break-medium) {
			section {
				section {
					img {
						max-width: 90%;
					}
					width: 33.33333333333333%;
					float: left;
					&:first-of-type {
						background: blue;
					}
					&:nth-of-type(2) {
						background: red;
					}	
					display: block;
				}
			}
		}
	}

	section[role="environmental"] {
		background: green;
		@media only screen and (min-width: $break-medium) {
			section {
				section {
					p {
						max-width: 90%;
					}
					width: 33.33333333333333%;
					float: left;
					&:first-of-type {
					}
					&:nth-of-type(2) {
					}	
					display: block;
				}
			}
		}
	}

	footer[role="colophon"] {
		background: red;
		nav {
			@media only screen and (min-width: $break-medium) {
				ul {
					width: 33.33333333333333%;
					float: left;
					li {
						height: 2rem;
						line-height: 2rem;
						&:first-of-type {
							margin: 0 0 1.8rem 0;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}