@import "_variables.scss";
@import "_fonts.scss";

body {

	ul, ol, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	font-size: 16px;
	line-height: 22px;
	font-family: 'Avenir Book', sans-serif;
	color: $secondary;
	text-rendering: optimizeLegibility;

	> header,
	> main,
	> section,
	> footer {
		overflow: auto;

		> section, > nav {
			width: 90%;
			max-width: 60rem;
			margin: 0 auto;
			overflow: auto;
			padding: 1rem 0 2rem 0;
			@media only screen and (min-width: $break-medium) {
				padding: 2rem 0 2rem 0;
			}
		}
	}

	h1 {
		font-size: 1.2rem;
		font-family: 'Avenir Medium', sans-serif;
	}

	h2 {
		font-size: 1rem;
	}

	input {
		outline: 0;
		border: none;
	}

	img {
		max-width: 100%;
	}

	a {
		color: $primary;
		text-decoration: none;
	}

	.btn, input[type='submit'] {
		color: white;
		text-decoration: none;
		border-radius: 0.2rem;
		display: inline-block;
		margin-bottom: 0.4rem;
		background-color: $primary;
		padding: 0.6rem 1.4rem;
		@media only screen and (min-width: $break-medium) {
			font-size: 1.4rem;
			padding: 1rem 1.6rem;
		}
		&:hover {
			text-decoration: none;
			background-color: lighten($primary, 2%);
		}
		&:active {
			background-color: darken($primary, 4%);
		}
	}

	[role="cta"] {
		width: 100%;
		display: block;
		margin: 1rem 0;
		padding: 1rem 0;
		overflow: auto;
	}

	header[role="main"] {
		background: $primary;
		color: $tertiary;
		section {
			color: $secondary;
			position: relative;
			a {
				color: $secondary;
			}
			> a {
				float: left;
				h1 {
					background-image: url('/Asset/amprolec.svg');
					background-size: 210px 50px;
					width: 210px;
					height: 50px;
					text-indent: -90000px;
					display: inline-block;
					margin-bottom: 0;
					@media only screen and (min-width: $break-medium) {
						// background-size: 160px 105px;
						// width: 160px;
						// height: 105px;
					}
				}
			}
			
			span {
				font-family: 'Avenir Medium', sans-serif;
				text-indent: 3.3rem;
				position: absolute;
				left: 0;
				top: 5.6rem;
			}
			aside[role="contact"] {
				display: none;
				@media only screen and (min-width: $break-medium) {
					display: block;
					width: 33.33333333333333%;
					float: right;
					margin-top: 1.2rem;
					ul {
						li {
							height: 2rem;
							line-height: 2rem;
						}
					}
				}
			}
		}
		
		nav {
			padding: 0;
			a {
				color: $tertiary;
			}
			input {
				display: none;
			}
			label {
				cursor: pointer;
				&::before {
					content: 'Menu';
				}
				@media only screen and (min-width: $break-medium) {
					display: none;
				}
			}
			ul {
				display: none;
				@media only screen and (min-width: $break-medium) {
					border-top: 2px solid $secondary;
					display: block;
					li {
						display: inline-block;
						margin-right: 1rem;
						a {
							height: 4rem;
							line-height: 4rem;
							display: block;
						}
					}
				}
			}
			input#main-nav:checked ~ ul {
				display: block;
			}
			input#main-nav:checked ~ label {
				&::before {
					content: 'Close';
				}
			}
		}

	}

	main[role="content"] {
		background: $tertiary;
		section {
			> header {
				h1 {
					font-size: 2rem;
				}
				span {
					font-size: 1.6rem;
					line-height: 2rem;
					max-width: 46rem;
					display: block;
					font-family: 'Avenir Medium', sans-serif;
					&#intro {
						@media only screen and (min-width: $break-medium) {
							padding: 1rem 0 3rem 0;
						}
					}
				}
			}
			> section {
				width: 100%;
				float: left;

				article[role="for-lighting"],
				article[role="for-electrical"] {
					@media only screen and (min-width: $break-medium) {
						width: 48%;
						background: white;
						padding: 2rem;
						box-sizing: border-box;
					}
				}
				article[role="for-lighting"] {
					@media only screen and (min-width: $break-medium) {
						float: left;
						margin-right: 2%;
					}
				}
				article[role="for-electrical"] {
					@media only screen and (min-width: $break-medium) {
						float: right;
						margin-left: 2%;
					}
				}
			}
			section[role="process"] {
				padding: 1rem 0;
				background: white;
				@media only screen and (min-width: $break-medium) {
					width: 80%;
				}
				ol {
					padding-left: 2rem;
					li {
						list-style: initial;
						list-style-type: decimal;
						@media only screen and (min-width: $break-medium) {
							margin: 0 0 2rem 0;
						}
						p {
							width: 90%;	
							@media only screen and (min-width: $break-medium) {
								width: 75%;
							}
						}
					}
				}
			}
			section[role="contact-us"] {
				@media only screen and (min-width: $break-medium) {
					width: 66.66666666666666%;
				}
				form {
					background: white;
					@media only screen and (min-width: $break-medium) {
						padding: 2rem;
						width: 80%;
					}
					label, 
					input:not([type="submit"]) {
						width: 100%;
					}
					textarea {
						width: 80%;
					}
					input:not([type="submit"]) {
						margin-bottom: 1rem;
					}
				}
			}
			aside[role="contact-details"] {
				@media only screen and (min-width: $break-medium) {
					width: 33.33333333333333%;
					float: right;
				}
				address {
					font-style: normal;
				}
			}
		}
	}
	
	section[role="accreditation"] {
		background: lighten($tertiary, 5%);
		@media only screen and (min-width: $break-medium) {
			section {
				section {
					img {
						max-width: 80%;
					}
					width: 33.33333333333333%;
					float: left;
					&:first-of-type {
					}
					&:nth-of-type(2) {
					}	
					display: block;
				}
			}
		}
	}

	section[role="environmental"] {
		background: lighten($tertiary, 2%);
		@media only screen and (min-width: $break-medium) {
			section {
				section {
					p {
						max-width: 90%;
					}
					width: 33.33333333333333%;
					float: left;
					&:first-of-type {
					}
					&:nth-of-type(2) {
					}	
					display: block;
				}
			}
		}
	}

	footer[role="colophon"] {
		background: $secondary;
		color: $tertiary;
		nav {
			@media only screen and (min-width: $break-medium) {
				ul {
					width: 33.33333333333333%;
					float: left;
					color: $primary;
					li {
						height: 2rem;
						line-height: 2rem;
						&:first-of-type {
							margin: 0 0 1.8rem 0;
							display: inline-block;
							color: $tertiary;
							font-family: 'Avenir Medium', sans-serif;
						}
					}
				}
			}
		}
	}
}